.footer
    .footertext Feel free to also try our partner sites: 
        a(href="https://lmddgtfy.net/" rel="noopener noreferrer") Let Me DuckDuckGo That For You 
        |  and 
        a(href="https://lmsptfy.com/" rel="noopener noreferrer") Let Me StartPage That For You 
        |  
        <br />
        |  Operated by 
        a(href="https://yano.me/" rel="noopener noreferrer") yano
        |  | Originally and lovingly built by 
        a(href="https://twitter.com/mcrittenden" rel="noopener noreferrer") Mike Crittenden
        |    | 
        a(href="https://gitlab.com/vyano/duckduckstart" rel="noopener noreferrer") Source on GitLab
