extends layout

- var isddg = {useddg}

block content
    #search-container
        h1 DuckDuckStart
            form#search-form(method='get', action='')
                input(type='text', id='search-input', name='q', required, placeholder='Whatcha looking for?')
                button(type='submit') Search
        p Searches <a href="https://startpage.com/" rel="noopener noreferrer" target="_blank">Startpage</a> and <a href="https://duckduckgo.com/bang" rel="noopener noreferrer" target="_blank">!bangs</a> <a href="https://duckduckgo.com" rel="noopener noreferrer" target="_blank">DuckDuckGo</a>.
        p <a href="/browser">Tell your browser</a>!
    .footer_main
        include footer
