doctype html
html
    head(profile='http://a9.com/-/spec/opensearch/1.1/')
        meta(charset='utf-8')
        title DuckDuckStart
        link(rel='search', type='application/opensearchdescription+xml', href='/opensearch.xml', title='DuckDuckStart')
        link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.deep_orange-deep_purple.min.css')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='DuckDuckStart lets you use DuckDuckGo for !bang queries and StartPage for everything else, so you get the best of both worlds!')
        meta(name='keywords', content='search, search engine, new search engine, web search, privacy, metasearch, proxy search, image search, video search, news search, search engine privacy, private, engine, duckduckgo, ddg, duckduckgo.com, ddg.gg, startpage, startpage.com, ixquick, ixquick.com, duck.co, duck duck go, start page, search engine features, clever search engine, privacy respecting')
        meta(name="twitter:card" content="app")
        meta(name="twitter:site" content="@duckduckstart")
        meta(name="twitter:text:title" content="DuckDuckStart")
        meta(name="twitter:description" content="Use DuckDuckGo for !bangs and StartPage for everything else.")
        meta(name="twitter:app:name:iphone" content="DuckDuckStart")
        meta(name="twitter:app:id:iphone" content="")
        meta(name="twitter:app:name:ipad" content="DuckDuckStart")
        meta(name="twitter:app:id:ipad" content="")
        meta(name="twitter:app:name:googleplay" content="DuckDuckStart")
        meta(name="twitter:app:id:googleplay" content="")
        link(rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        link(rel="manifest" href="/manifest.json")
        meta(name="msapplication-TileColor" content="#ffffff")
        meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
        meta(name="theme-color" content="#ffffff")
        meta(property="og:title" content="DuckDuckStart")
        meta(property="og:site_name" content="DuckDuckStart")
        meta(property="og:url" content="https://duckduckstart.com/")
        meta(property="og:description" content="Use DuckDuckGo for !bangs and StartPage for everything else.")
        meta(property="og:type" content="website")
        meta(property="og:image" content="https://duckduckstart.com/ms-icon-310x310.png")
        meta(http-equiv="Permissions-Policy" content="interest-cohort=()")
        script.
            function focusSearch(){document.getElementById("search-input")&&document.getElementById("search-input").focus()}function installSearchEngine(e){window.external&&"AddSearchProvider"in window.external?window.external.AddSearchProvider(e):alert("This browser does not support adding search engines. Try Firefox!")} 
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script defer data-domain="duckduckstart.com" src="https://plausible.io/js/plausible.js"></script>


    body(onload='focusSearch()')
        // favicon.ico is by Will Clayton from flickr.com: https://www.flickr.com/photos/spool32/158300831/
        // At time of retrieval it is licensed under CC BY 2.0: https://creativecommons.org/licenses/by/2.0/
        .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
            header(class="mdl-layout__header")
                .mdl-layout__header-row
                    span.mdl-layout-title DuckDuckStart
                        // a(href="/") DuckDuckStart
                    div(class="mdl-layout-spacer")
                    nav(class="mdl-navigation")
                        a(class="mdl-navigation__link", href="/") Home
                        // a(class="mdl-navigation__link", href="", style="color:dark orange") About

            .mdl-layout__drawer
                span.mdl-layout-title DuckDuckstart
                nav(class="mdl-navigation")
                    a(class="mdl-navigation__link" href="/") Home
                    a(class="mdl-navigation__link" href="https://duckduckgo.com/" rel="noopener noreferrer") DuckDuckGo
                    a(class="mdl-navigation__link" href="https://www.startpage.com/" rel="noopener noreferrer") StartPage
                    a(class="mdl-navigation__link" href="/browser") Tell Your Browser

        block content

        include footer

        script(src="/js/material.min.js")
